//.hero__container{
//    max-width: 1000px;
//    width: 800px;
//    height: 400px;
//}
//
//.slider {
//    position: relative;
//    overflow: hidden;
//    border: 3px solid crimson;
//    width: 100%;
//
//    &__img{
//        width: 100%;
//        height: 100%;
//        display: block;
//        object-fit: cover;
//
//        //max-width: none;
//        //user-select: none;
//        //pointer-events: none;
//    }
//
//    &__before{
//        position: absolute;
//        left: 0;
//        top: 0;
//        overflow: hidden;
//        z-index: 2;
//        width: 50%;
//        height: 100%;
//
//    }
//
//    &__change{
//        position: absolute;
//        left: 50%;
//        top: 0;
//        z-index: 10;
//        width: 1px;
//        height: 100%;
//        background: #fff;
//    }
//    &__btn{
//        position: absolute;
//        left: 50%;
//        top: 50%;
//        transform: translate(-50%, -50%);
//        border-radius: 100%;
//        width: 67px;
//        height: 67px;
//        background: #f00;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        cursor: ew-resize;
//
//    }
//
//    &__btn-img{
//        user-select: none;
//        pointer-events: none;
//    }
//
//
//}
//
//
////picture img{
////    width: 100%;
////    height: 100%;
////    display: block;
////    object-fit: cover;
////    user-select: none;
////    pointer-events: none;
////}


* {
    box-sizing: border-box;
}

body {
    padding: 100px;
}

.container-76 {
    max-width: 1000px;
    margin: 0 auto;
    height: 400px;
}

.slider {
    position: relative;
    overflow: hidden;
    border: 3px solid crimson;
    width: 100%;
    height: 100%;
}

.slider img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    max-width: none;
    max-height: none;
}

.before {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 2;
    width: 50%;
    height: 100%;
}


.slider .before img,
.slider .after img {
    position: absolute;    /* ← важливо! */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.change {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 10;
    width: 3px;
    height: 100%;
    background-color: crimson;
}

.change::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: crimson;
    transform: translate(-50%, -50%);
}