.header{
    position: fixed;
    //top: 23px;
    padding-top: 23px;
    top: 0;
    left: 0;
    width: 100%;
}
.nav {

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        position: relative;
        z-index: 41;
    }

    &__text {
        margin-top: 16px;
        justify-self: center;
    }

    &__burger {
        //visibility: hidden;
        justify-self: end;
        //margin-top: 16px;

        position: relative;
        width: 32px;
        height: 32px;
        z-index: 41;
        & span{
            position: absolute;
            height: 2px;
            width: 30px;
            background-color: #000;
            top: 6px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        & span:first-child {
            top: 14px;
        }
        & span:last-child {
            top: 22px;
        }
        &.active {
            & span:first-child {
                transform: scale(0);
            }

            & span:nth-child(2) {
                transform: rotate(45deg);
                top: 13px;
            }

            & span:last-child {
                transform: rotate(-45deg);
                top: 13px;
            }
        }

    }

    &__menu {
        //display: grid;
        //grid-template-columns:  repeat(5, 1fr);
        display: flex;
        width: 1360px;
        padding: 15px 0;
        border: 1px solid #e2e2e2;
        background: #fff;
        margin-top: 24px;
    }

    &__menu-item {
        border-right: 1px solid #e2e2e2;
        width: 272px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        &:last-child{
            border-right: none;
        }
    }

    &__menu-link {
    }
}
.logo {
}
.text {
}

@media (max-width: 1360px){
    .nav {
        &__wrapper {
            display: grid;
            grid-template-columns: 2fr 3fr 1fr;
            align-items: center;
        }
        &__menu {
            display: none;
        }
        &__burger {
            //visibility: visible;
            //width: 40px;
            //height: 22px;

        }
    }
}
@media (max-width: 650px){
    .nav {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        &__menu {
            display: none;
        }
        &__text {
            grid-column: span 2;
            grid-row: 2;
            margin-top: 18px;
        }
        &__burger {
            //visibility: visible;
            //margin-top: 0;
            //width: 30px;
            //height: 20px;
        }
    }
}
