.callback {
    margin-top: 101px;
    position: relative;
    &__wrap {
        position: relative;
        width: 100%;
        aspect-ratio: 68/27;
    }
    &__photo{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
    }

    &__content{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.41;
        color: #fff;
        width: 40%;
        margin: 10% 0 0 2.5%;
        flex-shrink: 0;
    }

    &__form {
        width: 29%;
        aspect-ratio: 98/116;
        margin: auto 5.5% auto;
        flex-shrink: 0;
        display: flex;
    }
}
.form {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 8px;

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 18px;
        text-align: center;
        flex-grow: 1;
        height: 9.8%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: 10px;
        padding-top: 5px;
    }
    &__content{
        margin-inline: 6%;
        flex-grow: 1;
    }
    &__line{
        width: 100%;
        height: 1px;
        background: #ebebeb;
    }
    &__input-wrap{
        position: relative;
    }

    &__label{
        display: block;
        font-size: 14px;
        line-height: 1.44;
        color: #333;
        margin-top: 5%;
        pointer-events: none;
        &:first-of-type{
            margin-top: 7%;
        }
        &.required::after {
            content: " *";
            color: red;
        }
    }
    &__placeholder {
        display: block;
        font-size: 14px;
        line-height: 1.44;
        color: #828282;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        width: 100%;
        aspect-ratio: 7/1;
        margin: 4px auto 0 auto;
        padding-inline: 10px ;
        &:focus-visible{
            border: 3px solid #cecece;
        }
    }

    &__error-text{
        position: absolute;
        z-index: 2;
        display: none;
        color: #fff;
        background: red;
        border-radius: 4px;
        padding: 2px 8px;
        top: 75%;
        &::after{
            content: "";
            position: absolute;
            z-index: -1;
            width: 6px;
            height: 6px;
            background: red;
            top: calc(0% - 3px);
            left: 11px;
            transform: rotate(45deg);
        }
        &:not(:empty) {
            display: block;
        }
    }
    &__select{
        position: relative;
        width: 100%;
    }
    &__select-input {
        @extend .form__placeholder;
        cursor: pointer;

        &:focus-visible{
            border: 3px solid #cecece;
        }
    }
    &__select-arrow{
        position: absolute;
        width: 20px;
        height: 12px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &__select-options{
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 100px;
        overflow-y: auto;
        background: #F8F9FA;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        width: 100%;
        z-index: 5;
        display: none;
        flex-direction: column;
        & span{
            padding: 10px;
            cursor: pointer;
        }
    }
    &__select.open .form__select-options {
        display: flex;
    }

    &__btn {
        background: #27ae60;
        border-radius: 3px;
        width: 100%;
        min-height: 55px;
        color: #fff;
        font-size: 18px;
        margin-top: 4.5%;
        transition: all 0.3s ease;
        &:focus-visible{
            border: 3px solid #cecece;
        }
        &:hover{
            background: #2ebf6b;
        }
        &:active{
            background: #23a359;
        }
    }
}

@media (max-width: 1110px) {
    .callback {
        margin-top: 47px;
        &__wrap {
            aspect-ratio: 71/55;
        }
        &__content{
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        &__title {
            font-size: 20px;
            width: 64%;
            margin: 0;
            text-align: center;
        }
        &__form {
            aspect-ratio: 66 / 76;
            width: 48%;
            margin: -2% 0 0 0;
        }
    }
    .form{
        &__wrap {
            //margin: 4% auto 0 auto;
            //height: 94%;
        }
        &__title {
            font-size: 16px;
            text-align: center;
            width: 80%;
            margin: 6px auto 0 auto;
        }
        &__line{
            //margin-top: 16px;
        }
        &__label {
            //margin-top: 13px;

            &:first-of-type {
                //margin-top: 12px;
            }
        }
        &__placeholder {
            aspect-ratio: 6/1;
        }
        &__select{
            background-size: 14px 9px;
            background-position: right 12px center;
        }
        &__select-arrow{
            width: 14px;
            height: 9px;
            right: 8px;
        }
        &__btn {
            //margin-top: 12px;
            //padding: 0;
            min-height: 60px;
        }
    }
}
@media (max-width: 850px) {
    .callback {
        &__form {
            //width: 37%;
            //aspect-ratio: 66/95;
            width: 264px;
            height: 380px;
        }
    }
}
@media (max-width: 650px) {
    .callback {
        margin-top: 42px;
        &__wrap {
            aspect-ratio: 32/38;
        }
        &__content{
            justify-content: center;
            gap: 4%;
        }
        &__title {
            width: 84%;
            margin-top: -5px;
        }
        &__form {
            margin: 0;
            //max-height: 500px;
        }
    }
    .form {

    }
}
@media (max-width: 450px) {
    .callback {
        &__wrap {
            aspect-ratio: 29/54;
        }
    }
}


