.hero {
    padding: 113px 0 50px 0;
    background: #fff;

    &__block-work{
        margin-top: -80px;
    }
    &__title {

    }

    &__row {
        position: relative;
        z-index: 2;
        display: grid;
    }
    &__row-parts {
        margin-top: 44px;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;

        & .hero__col {
            width: 85%;
            &:nth-child(3){
                width: 72%;
            }
        }
    }
    &__row-work {
        grid-template-columns: 14% 15% 15% 19% 15% 12%;
        gap: 2%;
        margin-top: 50px;
    }

    &__col {
        text-align: center;
        margin: 0;
    }

    &__col-icon {
        width: 70px;
        height: 70px;
    }

    &__col-text {
        margin-top: 10px;
    }
    &__photo{
        width: 100%;
        aspect-ratio: 34/15;
        margin-top: -17px;
    }
    &__photo-work{
        aspect-ratio: 8/3;
        margin-top: -16px;
    }
}


@media (max-width: 1100px) {
    .hero {
        padding: 27px 0 20px 0;
        margin-top: 18px;
        &__container{
            display: contents;
        }
        &__title{
            margin-inline: 30px;
        }
        &__row {
            grid-template-columns: repeat(3, 1fr);
        }
        &__block-work{
            margin-top: -7px;
        }
        &__row-parts {
            margin-top: 33px;
            row-gap: 29px;
            & .hero__col {
                &:nth-child(3){
                    width: 72%;
                    padding-left: 12%;
                }
                &:nth-child(5) {
                    width: 90%;
                }
            }
        }
        &__row-work {
            margin: 20px 20px 0 30px;
            gap: 33px 2%;
        }
        &__photo{
            margin-top: -4px;
        }
        &__photo-work{
            margin-top: 11px;
        }
    }
}
@media (max-width: 650px) {
   .hero{
        &__row {
            grid-template-columns: repeat(2, 1fr);
        }
       &__row-parts {

           & .hero__col {
               &:nth-child(3) {
                   padding: 0;
               }
           }
       }
       &__photo{
           margin-top: 0;
       }
   }
}
@media (max-width: 450px) {
    .hero{
        padding: 36px 0 38px 0;
        margin-top: 0;
        &__block{
            display: flex;
            flex-direction: column;
        }
        &__title{
            text-align: center;
            order: 1;
        }
        &__row {
            grid-template-columns: repeat(1, 1fr);
            margin-top: -24px;
            row-gap: 24px;
            order: 3;
        }
        &__col-text {
            margin-top: 5px;
        }
        &__photo{
            margin-top: 69px;
            order: 2;
        }

        &__block-work{
            margin-top: 50px;
        }
        &__row-work {
            margin: -6px 15px 0 15px;
            row-gap: 30px;
            & .hero__col{

            }
        }
        &__photo-work{
            margin-top: 12px;
        }
    }
}
