@use "@/scss/base/null.scss";
@use "@/scss/base/base.scss";
@use "@/scss/base/header.scss";
@use "@/scss/base/burger.scss";

@use "@/scss/solutions/hero-solutions";

@use "@/scss/solutions/footer-solutions.scss";
@use "@/scss/base/footer.scss";



